<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.pcj.myapplication">

    <!-- gl 支持版本 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EnterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.TriangleActivity" />
        <activity android:name=".activitys.ColorTrangleActivity" />
        <activity android:name=".activitys.RoundActivity" />
        <activity android:name=".activitys.WithLigthRoundActivity" />
        <activity android:name=".activitys.Load3DObj" />
        <activity android:name=".activitys.RegularTriangle" />
        <activity android:name=".activitys.Cube" />
        <activity android:name=".activitys.CubeActivity" />
        <activity android:name=".activitys.ConeActivity"></activity>
    </application>

</manifest>